.App {
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #ffffff;
  color: white;
  padding: 22px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 850px;
  font-size: large;
}

nav ul li {
  display: inline;
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

section {
  margin: 50px 0;
  margin-left: 100PX;
  margin-right: 100px;
  margin-top: 50px;
  font-size: x-large;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.he{
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  font-size: xxx-large;
}



img {
  max-width: 50%;
  display: inline-flex;
}

.home-container {
  display: flex;
  flex-direction: row;
}

.content {
  flex: 1;
  padding: 20px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 200%;
  max-height: 100%;
  margin-right: 300px;
  padding: auto;
}
